.email-signup-form {
  width: 38em;
  max-width: 98%;
  margin: 4em auto 8em;
}
.email-signup-form form {
  border-bottom: 1px solid #302b22;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
  margin: 0 auto;
}
.email-signup-form form label,
.email-signup-form form input[type="email"],
.email-signup-form form input[type="submit"] {
  display: inline-block;
  height: 1em;
  margin-left: 0.5em;
}
.email-signup-form form label::after {
  content: ":";
  padding-right: 0.5em;
}
.email-signup-form form input[type="email"] {
  background: inherit;
  border: 0;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  flex-shring: 2;
  padding: 0;
}
.email-signup-form form input[name="b_34db5ed86b65db22d9ec6a3ef_e2cc057825"] {
  position: absolute;
  left: -9999px;
}
.email-signup-form form input[type="submit"] {
  background: #1b1c18;
  border: 1px solid #302b22;
  color: #fff;
  margin: calc(-2px - 0.5em) 0.5em 0 0;
  padding: 0.2em 0.5em 0.3em;
  height: 1.5em;
}
.email-signup-form > label {
  display: block;
  margin: 1em auto;
  text-align: center;
}
